.sidebar {  
    width: 200px; /* Définir la largeur de la sidebar */  
    background-color: #f4f4f4;  
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  
    display: flex;  
    flex-direction: column;  
    padding: 20px;  
    font-size: 14px;
}  

.logo-section2 {  
    display: flex;  
    justify-content: center;  
    margin-bottom: 5px;  
}  

.logo2 {  
    width: 100%; /* Ajuster la taille du logo à 100% de la sidebar */  
    height: auto;   
}  

.nav-links {  
    flex: 1; /* Prendre le reste de l'espace, ici l'ajout de flex: 1 assure qu'il prenne toute la hauteur disponible */  
    display: flex;  
    flex-direction: column; /* Aligne les éléments en colonne */  
}  

.nav-item {  
    display: flex;  
    align-items: center;  
    padding: 10px;  
    margin: 0px 0;  
    color: #333;  
    text-decoration: none;  
    transition: background-color 0.2s;  
    border-radius: 10px;

}  

.nav-item:hover {  
    background-color: #e2e6ea; /* Changement de fond au survol */  
}  

.nav-item.active {  
    background-color: #00A2DD; /* Couleur d'arrière-plan pour l'élément actif */  
    color: white; /* Couleur du texte pour l'élément actif */  
    border-radius: 10px;
}  

.features-section, .options-section {  
    margin-top: 0px;  
}  

h4 {  
    margin-bottom: 3px;  
    color: #666;  
}  

.settings-section {  
    margin-top: auto; /* Pour pousser les paramètres et déconnexion vers le bas */  
}  

.settings-section .nav-item {  
    border-top: 1px solid #ccc;  
    margin-top: 2px;  
}  