.home-container {  
    display: flex;  
}  

.content-section {  
    flex: 1; /* Prend tout l'espace restant à droite de la sidebar */  
    padding: 20px;  
    background-color: #f9f9f9; /* Couleur de fond pour la section de contenu */  
}
.single {
    display: flex;
    width: 100%;
    .singleContainer {
      flex: 6;
    }}