
      .viewButton {
        padding: 10px 10px;
        border-radius: 5px;
        color: #00A2DD;
        border: 1px solid #00A2DD;
        cursor: pointer;
      }
      
      .deleteButton {
        padding: 10px 10px;

        margin-left: 10px;
        border-radius: 5px;
        color: crimson;
        border: 1px solid rgba(220, 20, 60, 0.6);
        cursor: pointer;
      }

      